{{define "main"}}
	{{if .ContainsAuthKey}}
		<div class="alert alert-success text-center">This URL contains an access key. You can bookmark or share it.</div>
	{{end}}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			{{range .Dir.Path}}
				<li class="breadcrumb-item"><a href="{{.URL}}">{{.Title}}</a></li>
			{{end}}
			{{with .Dir}}
				<li class="breadcrumb-item"><a href="{{.URL}}">{{.Title}}</a></li>
			{{end}}
			<li class="breadcrumb-item active" aria-current="page">{{.File.Title}}</li>
		</ol>
	</nav>
	{{.File.HTMLContent}}
{{end}}
